@import 'tailwindcss';
@theme {
	--font-display: 'Satoshi', 'sans-serif';
	--breakpoint-3xl: 1920px;

	/* Primary Orange */
	--color-primary-100: oklch(0.97 0.03 45.94); /* Lightest */
	--color-primary-200: oklch(0.89 0.12 45.94);
	--color-primary-300: oklch(0.82 0.18 45.94);
	--color-primary-400: oklch(0.75 0.22 45.94);
	--color-primary-500: oklch(0.7 0.26 45.94); /* Base */
	--color-primary-600: oklch(0.63 0.22 45.94);
	--color-primary-700: oklch(0.55 0.18 45.94); /* Dark */

	--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
	--ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@keyframes rippleDown {
	0% {
		top: -50%;
	}
	100% {
		top: 100%;
	}
}
